html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#root {
  margin: 10px auto;
  max-width: 1000px; }

.boxes, .input-markdown textarea, .markdown-viewer {
  border: 6px double #D91A8C;
  border-radius: 6px;
  padding: 10px;
  min-height: 90vh;
  margin-bottom: 10px;
  box-shadow: 1px 2px 0 black; }

.input-markdown {
  width: 43%;
  float: left;
  margin-left: 2%; }
  .input-markdown textarea {
    width: 100%;
    font-size: 1em;
    resize: none; }

.markdown-viewer {
  width: 43%;
  margin-right: 2%;
  float: right; }
  .markdown-viewer a {
    color: #4183C4;
    text-decoration: none; }
  .markdown-viewer a.absent {
    color: #cc0000; }
  .markdown-viewer a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
  .markdown-viewer h1, .markdown-viewer h2, .markdown-viewer h3, .markdown-viewer h4, .markdown-viewer h5, .markdown-viewer h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative; }
  .markdown-viewer h2:first-child, .markdown-viewer h1:first-child, .markdown-viewer h1:first-child + h2, .markdown-viewer h3:first-child, .markdown-viewer h4:first-child, .markdown-viewer h5:first-child, .markdown-viewer h6:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer h1:hover a.anchor, .markdown-viewer h2:hover a.anchor, .markdown-viewer h3:hover a.anchor, .markdown-viewer h4:hover a.anchor, .markdown-viewer h5:hover a.anchor, .markdown-viewer h6:hover a.anchor {
    text-decoration: none; }
  .markdown-viewer h1 tt, .markdown-viewer h1 code {
    font-size: inherit; }
  .markdown-viewer h2 tt, .markdown-viewer h2 code {
    font-size: inherit; }
  .markdown-viewer h3 tt, .markdown-viewer h3 code {
    font-size: inherit; }
  .markdown-viewer h4 tt, .markdown-viewer h4 code {
    font-size: inherit; }
  .markdown-viewer h5 tt, .markdown-viewer h5 code {
    font-size: inherit; }
  .markdown-viewer h6 tt, .markdown-viewer h6 code {
    font-size: inherit; }
  .markdown-viewer h1 {
    font-size: 28px;
    color: black; }
  .markdown-viewer h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black; }
  .markdown-viewer h3 {
    font-size: 18px; }
  .markdown-viewer h4 {
    font-size: 16px; }
  .markdown-viewer h5 {
    font-size: 14px; }
  .markdown-viewer h6 {
    color: #777777;
    font-size: 14px; }
  .markdown-viewer p, .markdown-viewer blockquote, .markdown-viewer ul, .markdown-viewer ol, .markdown-viewer dl, .markdown-viewer li, .markdown-viewer table, .markdown-viewer pre {
    margin: 15px 0; }
  .markdown-viewer hr {
    background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0; }
  .markdown-viewer body > h2:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer body > h1:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer body > h3:first-child, .markdown-viewer body > h4:first-child, .markdown-viewer body > h5:first-child, .markdown-viewer body > h6:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer a:first-child h1, .markdown-viewer a:first-child h2, .markdown-viewer a:first-child h3, .markdown-viewer a:first-child h4, .markdown-viewer a:first-child h5, .markdown-viewer a:first-child h6 {
    margin-top: 0;
    padding-top: 0; }
  .markdown-viewer h1 p, .markdown-viewer h2 p, .markdown-viewer h3 p, .markdown-viewer h4 p, .markdown-viewer h5 p, .markdown-viewer h6 p {
    margin-top: 0; }
  .markdown-viewer li p.first {
    display: inline-block; }
  .markdown-viewer ul, .markdown-viewer ol {
    padding-left: 30px; }
  .markdown-viewer ul :first-child, .markdown-viewer ol :first-child {
    margin-top: 0; }
  .markdown-viewer ul :last-child, .markdown-viewer ol :last-child {
    margin-bottom: 0; }
  .markdown-viewer dl {
    padding: 0; }
  .markdown-viewer dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
  .markdown-viewer dl dt:first-child {
    padding: 0; }
  .markdown-viewer dl dt > :first-child {
    margin-top: 0; }
  .markdown-viewer dl dt > :last-child {
    margin-bottom: 0; }
  .markdown-viewer dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
  .markdown-viewer dl dd > :first-child {
    margin-top: 0; }
  .markdown-viewer dl dd > :last-child {
    margin-bottom: 0; }
  .markdown-viewer blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777; }
  .markdown-viewer blockquote > :first-child {
    margin-top: 0; }
  .markdown-viewer blockquote > :last-child {
    margin-bottom: 0; }
  .markdown-viewer table {
    padding: 0; }
  .markdown-viewer table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
  .markdown-viewer table tr:nth-child(2n) {
    background-color: #f8f8f8; }
  .markdown-viewer table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
  .markdown-viewer table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
  .markdown-viewer table tr th :first-child, .markdown-viewer table tr td :first-child {
    margin-top: 0; }
  .markdown-viewer table tr th :last-child, .markdown-viewer table tr td :last-child {
    margin-bottom: 0; }
  .markdown-viewer img {
    max-width: 100%; }
  .markdown-viewer span.frame {
    display: block;
    overflow: hidden; }
  .markdown-viewer span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  .markdown-viewer span.frame span img {
    display: block;
    float: left; }
  .markdown-viewer span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
  .markdown-viewer span.align-center {
    display: block;
    overflow: hidden;
    clear: both; }
  .markdown-viewer span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  .markdown-viewer span.align-center span img {
    margin: 0 auto;
    text-align: center; }
  .markdown-viewer span.align-right {
    display: block;
    overflow: hidden;
    clear: both; }
  .markdown-viewer span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  .markdown-viewer span.align-right span img {
    margin: 0;
    text-align: right; }
  .markdown-viewer span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
  .markdown-viewer span.float-left span {
    margin: 13px 0 0; }
  .markdown-viewer span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right; }
  .markdown-viewer span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }
  .markdown-viewer code, .markdown-viewer tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; }
  .markdown-viewer pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent; }
  .markdown-viewer .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
  .markdown-viewer pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
  .markdown-viewer pre code, .markdown-viewer pre tt {
    background-color: transparent;
    border: none; }

@media only screen and (max-width: 649px) {
  .input-markdown, .markdown-viewer {
    float: none;
    width: calc(100% - 36px);
    margin: 0; }

  #root {
    padding-right: 1vw;
    padding-left: 1vw; } }

/*# sourceMappingURL=App.css.map */
